{{#g-map
  class="col-sm"
  lat="42.3600825"
  lng="-71.05888010000001"
  zoom=18
  onLoad=(action "onLoad")
  onClick=(action "onClick")
  as |g|
}}
  {{#g.control position="TOP_CENTER"}}
    <div class="map-control top-panel">
      {{input type="text" value=address class="form-control"}}
      {{#bs-button
        type="primary"
        onClick=(action "search" g.map)}}
        Search
      {{/bs-button}}
    </div>
  {{/g.control}}
  {{#g.control position="TOP_RIGHT"}}
    <div class="map-control right-panel">
      {{#bs-button
        type="secondary"
        onClick=(action "toggleDraw" g.map)}}
        {{input type="checkbox" checked=draw}}
        Draw Plot
      {{/bs-button}}
      {{#bs-button
        type="secondary"
        onClick=(action "clearPoints")}}
        Clear
      {{/bs-button}}
      {{#bs-button
        type="secondary"
        onClick=(action "drawBoundingBox")}}
        Use Bounding Box
      {{/bs-button}}
    </div>
  {{/g.control}}
  {{#g.control position="RIGHT_CENTER"}}
    <div class="map-control right-panel">
      {{#bs-button
        type="primary"
        onClick=(action "calculate")}}
        Calculate solar in area
      {{/bs-button}}
    </div>
  {{/g.control}}
{{/g-map}}
{{yield}}
